:root{
    --main-color: 
    --main-text-color:
}


body {
 
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 10vh 8vh 100vh 20vh;
    grid-template-areas: 
    'head'
    'nav'
    'main'
    'fot'
    ;
    
    /* bakgrund */


}

main{
    grid-area: main;
    background-color: rgb(143, 116, 93);
}

nav{
    background-color: chocolate;
    grid-area: nav;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
}

header{
    grid-area: head;
    background-color: deeppink;
}

footer{
    grid-area: fot;
    background-color: aqua;
}


h1 {
    font-size: 30px;
    justify-self: center;
    align-self: center;
    margin: 10px;
}

.d20 {
    height: 20%;
}

.navlink {
    text-decoration: none;
    color: black;
}

.navlink:hover{
color: darkred;
}

.current{
    color: green;
}

h2{
    margin: 20px;
    justify-self: center;
}








/* BARA MOBIl */
@media screen and (max-width:500px) {
 main{
    padding: 10px;
 }

}
/* BARA dessktop */
@media screen and (min-width:501px) {
    header{
        display: flex;
        justify-content: center;
    }
    
    h1{
        flex-direction: row;
        font-size: 50px;
    }

    .d20 {
    height: 40%;
    }

}