.wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: 20vh 15vh 200vh 20vh;
    grid-template-areas: 
    'head head'
    'nav main'
    'main main'
    'fot fot'
    ;
    
    /* bakgrund */

}

main{
    grid-area: main;
    background-color: rgb(250, 241, 113);
}

nav{
    background-color: chocolate;
    grid-area: nav;
}

header{
    grid-area: head;
    background-color: deeppink;
}

footer{
    grid-area: fot;
    background-color: aqua;
}





/* saker till meny knappen och menyn etc etc */
body{
    margin: 0;
}

.menu{
    height: 100vh;
    width: 80vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;

    background-image:    url(../img/scroll_top.png),
                         url(../img/scroll_botten.png),
                         url(../img/scroll_moddle.png);

    background-repeat:   no-repeat,
                         no-repeat,
                         repeat-y;

    background-position: left 0 top -12px,
                         left 0 bottom -12px,
                         left 0 top 0;

}

.menu-button{
    cursor: pointer;
    display: inline;

}

/* .menu-button i.material-icons{
    font-size: 2.5rem;
} */

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}


